<!DOCTYPE html>
<html>
<head>
	<title>Vue Js Starter</title>
</head>
<body>
	<p>Membuat List</p>
	<div id = "app">
		<p v-if="items.length == 0">No item</p>
		<ul>
			<li v-for="item in items">{{item.name}} - <a href="#" v-on:click="removeItem(item)">remove</a></li>
		</ul>

		{{item}} </br>

		<input type="text" v-model="item">
		<input type="button" value="Add Item" v-on:click="addItem">
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				items: [],
				item: ''
			},
			methods: {
				addItem(){
					this.items.push(this.item)
					localStorage.setItem('items', JSON.stringify(this.items))
					
					this.item = ''
				},
				removeItem(item){
					const index = this.items.indexOf(item)
					this.items.splice(index, 1)
					localStorage.setItem('items', JSON.stringify(this.items))
				}
			},
			created(){
				axios.get('https://api.github.com/users/isfaaghyth/repos').then((response) => {
					console.log(response.data)
					this.items = response.data
				})
				// this.items = JSON.parse(localStorage.getItem('items')) || []
			}
		})
	</script>
</body>
</html>